# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DEBUG=false

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL=
AUTH_SECRET=""

# Next Auth Github Provider
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Next Auth AzureAD Provider
AUTH_MICROSOFT_ENTRA_ID_CLIENT_ID=
AUTH_MICROSOFT_ENTRA_ID_CLIENT_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=

# Secrets
SECRET_CLIENT_COOKIE_VAR=

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/zapcron"
ENABLE_QUERY_LOGGING=false

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# S3
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_BUCKET=
S3_PUBLIC_URL=